:root {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  display: grid;
  grid:
    1fr
    1fr
    1fr
    / 1fr 1fr;
  gap: 1px;
}

.editor {
  display: grid;
  contain: size;
}

#result {
  grid-row: 1 / span 3;
  grid-column: 2;
  display: grid;
  grid: auto 1fr / auto-flow;
  place-content: stretch;
  place-items: stretch;
}

iframe {
  border: none;
}

#toolbar {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: black;
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(10ch, max-content));
  gap: 1ch;
}

#toolbar > li {
  display: grid;
}

#toolbar button {
  border: none;
  background-color: hsl(90, 30%, 50%);
  color: hsl(270, 70%, 30%);
  font-weight: bold;
  outline: none;
}

#toolbar button:is(:active, :focus-visible) {
  background-color: hsl(90, 70%, 70%);
}

#toolbar button:focus-visible {
  box-shadow: inset 0 0 2px 1px hsl(270, 70%, 30%) ;
}
